@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.title{
    user-select: none;
    text-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    margin: 0px;
    padding: 0px;
    padding-left:20px;
}

.logo{
    user-select: none;
    box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    border-radius: 50%;
    top: 150px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.about{
    user-select: none;
    top: 225px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2{
    left: 50%;
    top: 285px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about3{
    user-select: none;
    top: 350px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui{
    user-select: none;
    top: 530px;
    border: 0px;
    box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    width: 750px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}


.uititle{
    user-select: none;
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    padding: 10px;
    font-weight:bold;
}

.uicontoen{
    user-select: text;
    position: absolute;
    transform: translate(125px, -50%);
    top: 50%;
    width: 625px;
}

.infoicon{
    width:25px;
    height: 25px;
    user-select: none;
}

.selfbox{
    box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    user-select: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #2C2F33;
    border-radius: 10px;
    width: 160px;
    height: 35px;
}

.selficon{
    user-select: none;
    width: 35px;
    height: 35px;
}

.selficonyotu{
    position: absolute;
    transform: translate(5px, -50%);
    top: 50%;
    user-select: none;
    width: 35px;
    height: 25px;
}
