@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  overflow: auto;
  -webkit-user-drag: none;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

html {
  background-color: #2C2F33;
  color: white;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.title{
    user-select: none;
    text-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    margin: 0px;
    padding: 0px;
    padding-left:20px;
}

.logo{
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    border-radius: 50%;
    top: 150px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.about{
    user-select: none;
    top: 225px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2{
    left: 50%;
    top: 285px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about3{
    user-select: none;
    top: 350px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui{
    background-color: #484b50;
    user-select: none;
    top: 530px;
    border: 0px;
    box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    width: 750px;
    height: 200px;
    border-radius: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.ui2{
  background-color: #484b50;
  user-select: none;
  top: 750px;
  border: 0px;
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
  width: 750px;
  height: 200px;
  border-radius: 10px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.uititle{
    user-select: none;
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    padding: 10px;
    font-weight:bold;
}

.uicontoen{
    user-select: text;
    position: absolute;
    transform: translate(125px, -50%);
    top: 50%;
    width: 625px;
}

.infoicon{
    width:25px;
    height: 25px;
    user-select: none;
}

.selfbox{
    box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    user-select: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(0,0,0); /* Fallback color */
    border-radius: 10px;
    width: 160px;
    height: 35px;
}

.selficon{
    -webkit-user-drag: none;
    user-select: none;
    width: 35px;
    height: 35px;
}

.selficonyotu{
    -webkit-user-drag: none;
    position: absolute;
    transform: translate(5px, -50%);
    top: 50%;
    user-select: none;
    width: 35px;
    height: 25px;
}


.modal {
    backdrop-filter: blur(5px);
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    border-radius: 15px;
    position: relative;
    background-color: #484b50;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .close {
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 2px 16px;
    background-color: #484b50;
  }
  
  .modal-body {
    border-radius: 15px;
      padding: 2px 16px;
      background-color: #484b50;
    }
  
  .modal-footer {
    border-radius: 15px;
    padding: 2px 16px;
    background-color: #484b50;
  }

  .setup{
    font-weight:bold;
  }

  .setuptitile{
    user-select: none;
    text-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
  }

  .checkbox{
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .statsdone{
    text-align: center;
    border-top-left-radius: 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 25px;
    background-color: green;
  }

  .statsplan{
    text-align: center;
    border-top-left-radius: 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 25px;
    background-color: salmon;
  }